* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 70%;
  margin: 0 auto;
  height: 100%;
}
.container-xl {
  width: 95%;
  margin: 0 auto;
  height: 100%;
}
header {
  height: 100vh;
  background-color: yellow;
}

header #wrapMenuNav {
  display: flex;
  width: 100%;
  height: 100px;
  padding-top: 15px;
  position: relative;
  z-index: 1;
}

#wrapVideo {
  background-color: orange;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.logoWrap {
  display: flex;
  align-items: center;
  background-color: #000;
  height: 100%;
  width: 30%;
  padding-left: 10px;
  padding-right: 10px;
  border-right: 1px solid grey;
}

.imgResponsive {
  max-width: 100%;
  height: auto;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #000;
  height: 100%;
  width: 70%;
}

nav .menuNav {
  list-style-type: none;
}

nav .menuNav .elemento {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
}

nav .menuNav .elemento a {
  color: #fff;
  text-decoration: none;
}

nav .menuNav .elemento a:hover {
  color: #edc71c;
  text-decoration: underline;
}

#wrapVideo iframe {
  height: 100%;
  width: 100%;
}

main  .spot{
  height: 100vh;
  width: 100%;
  background-color: #000;
}
.wrapInfo1 {
  display: flex;
  height: 50%;
  width: 100%;
  background-color: white;
}
.wrapInfo1 > div {
  width: 50%;
  height: 100%;
}
.wrapInfo1Img {
  background: url("../assets/gokartpartenza.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.wrapInfo1 .wrapInfo1Text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.wrapInfo1 .wrapInfo1Text .wrapInfo1TextContent h3{
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.wrapInfo1 .wrapInfo1Text .wrapInfo1TextContent p{
  font-size: 18px;

}
.btnIscriviti {
  background-color: rgb(237, 26, 26);
  color: #fff;
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 18px;
  text-decoration: none;
}
