* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
  height: 100%;
}
header {
  width: 100%;
  background-color: #000;
  height: 80px;
}
header nav {
  display: flex;
  align-items: center;
  height: 100%;
}
nav i {
  color: #fff;
  font-size: 30px;
  cursor: pointer;
}
main #wrapIntro {
  background-color: #000;
  height: calc(100vh - 80px);
}

main #wrapIntroContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%
}
.logo img{
  max-width: 100%;
  height: 100px;
}
.frasePromozionale h2 {
  color:#fff;
  font-size: 24px;
  margin-top: 20px;
}
.wrapButton {
  margin-top: 70px;
}
.wrapButton .btnIscriviti {
  font-size: 25px;
  border: 4px solid #EDC81A;
  padding-top:10px;
  padding-bottom: 10px;
  padding-right: 60px;
  padding-left: 60px;
  color: #fff;
  text-decoration: none;
}
.wrapButton .btnIscriviti:hover {
  color: #EDC81A;
}
