*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.container {
  width: 70%;
  margin: 0 auto;
  height: 100%;
}
header {
  height: 80px;
  background-color: yellow;
}
header #wrapMenuNav {
  background-color: blue;
  width: 100%;
  height: 100%;
}
header #wrapVideo {
  background-color: orange;
  height: calc(100vh - 80px);
  width: 100%;
}
